*.psess
*.vsp
*.vspx
.vs
Dependencies.props
FileZilla*.suo
FileZilla.VC.VC.opendb
FileZilla.VC.db
FileZilla.ncb
FileZilla.opensdf
FileZilla.sdf
Makefile
Makefile.in
Makefile.user
bin
ipch
lib
Debug
Release
dylibs.copied
x64

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
